.consult {
  width: 100%;
  background-image: url("img/bg/consult.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.consult__container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

.consult__text-content {
  margin: 4rem 0 2.5rem 0;
}

.consult__header {
  margin-bottom: 1.875rem;
}

.consult__header h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.625rem;
  color: #ffad00;
}

.consult__paragraph {
  margin-bottom: 2.5rem;
}

.consult__paragraph__header {
  margin-bottom: 1.25rem;
}

.consult__paragraph__header h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 150%;
  font-size: 1.75rem;
  color: #f6f6f6;
  font-weight: 600;
}

.consult__paragraph__text p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 150%;
  font-size: 1.75rem;
  color: #f6f6f6;
}

.consult__paragraph__text .consult__p {
  display: inline-block;
}

.consult__paragraph__text .consult__price-contain {
  display: inline-block;
  background-color: #ffad00;
  padding: 8px 14px;
  margin: 0 10px;
}

.consult__paragraph__text .consult__price {
  font-weight: 600;
}

.consult__info-content {
  margin-bottom: 1.875rem;
}

.consult__info-content .consult__info-header {
  margin-bottom: 2rem;
}

.consult__info-content .consult__info-header h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 150%;
  font-size: 1.75rem;
  color: #f6f6f6;
  font-weight: 600;
}

.consult__info__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(22rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 3rem;
}

.consult__info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consult__info__item__img {
  width: 4.5rem;
}

.consult__info__item__text {
  margin-left: 1rem;
}

.consult__info__item__text p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 150%;
  font-size: 1.75rem;
  color: #f6f6f6;
  line-height: 130%;
}

.consult__warning-content {
  text-align: center;
  margin-bottom: 4rem;
}

.consult__warning-content hr {
  width: 100%;
  border: 1px solid #f6f6f6;
  margin-bottom: 2.5rem;
}

.consult__warning-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 150%;
  font-size: 1.75rem;
  color: #f6f6f6;
  margin-bottom: 2.5rem;
}

.consult__warning-content p span {
  color: #ffad00;
}

.consult__st-btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 1.75px;
  font-size: 1rem;
  color: #f6f6f6;
  background-color: #ffad00;
  border-radius: 45px;
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  padding: 1.3rem 3rem;
}

.consult__st-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 1200px) {
  .consult__header {
    margin-bottom: 1rem;
  }
  .consult__header h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    color: #ffad00;
  }
  .consult__paragraph__header {
    margin-bottom: 1rem;
  }
  .consult__paragraph__header h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 1.5rem;
    color: #f6f6f6;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .consult__paragraph__text {
    margin-bottom: 2rem;
  }
  .consult__paragraph__text p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 1.5rem;
    color: #f6f6f6;
  }
  .consult__info-content .consult__info-header h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 150%;
    font-size: 1.5rem;
    color: #f6f6f6;
  }
  .consult__info__item__img {
    width: 3.75rem;
  }
  .consult__info__item__text {
    margin-left: 0.875rem;
  }
  .consult__info__item__text p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 1.5rem;
    color: #f6f6f6;
  }
  .consult__warning-content p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 1.5rem;
    color: #f6f6f6;
  }
  .consult__st-btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 1.75px;
    font-size: 1rem;
    color: #f6f6f6;
    background-color: #ffad00;
    border-radius: 45px;
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
    padding: 1.2rem 2.8rem;
  }
}

@media screen and (max-width: 875px) {
  .consult__container {
    padding: 0 20px;
  }
  .consult__text-content {
    text-align: center;
    margin: 3rem auto;
    width: 90%;
  }
  .consult__info-content {
    text-align: center;
    width: 90%;
    margin: 0 auto;
  }
  .consult__info__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(22rem, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3rem;
  }
  .consult__info__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .consult__info__item__text {
    margin-left: 0;
  }
  .consult__info__item__img {
    margin-bottom: 0.875rem;
  }
  .consult__warning-content {
    width: 90%;
    margin: 0 auto 2rem auto;
  }
  .consult__warning-content hr {
    margin: 2rem 0;
  }
  .consult__warning-content p {
    margin-bottom: 2rem;
  }
  .consult__st-btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 1.75px;
    font-size: 0.875rem;
    color: #f6f6f6;
    background-color: #ffad00;
    border-radius: 45px;
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
    padding: 1.2rem 2.8rem;
  }
  .consult__st-btn:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@media screen and (max-width: 675px) {
  .consult__header {
    margin-bottom: 1rem;
  }
  .consult__header h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #ffad00;
  }
  .consult__paragraph {
    margin-bottom: 2rem;
  }
  .consult__paragraph__header {
    margin-bottom: 1rem;
  }
  .consult__paragraph__header h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 1.375rem;
    color: #f6f6f6;
    font-weight: 600;
  }
  .consult__paragraph__text p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 1.375rem;
    color: #f6f6f6;
  }
  .consult__paragraph__text .consult__p {
    display: block;
  }
  .consult__paragraph__text .consult__price-contain {
    background-color: #ffad00;
    padding: 8px 14px;
    margin: 0 10px;
    margin: 1rem 0;
  }
  .consult__paragraph__text .consult__price {
    font-weight: 600;
  }
  .consult__info-content .consult__info-header h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 150%;
    font-size: 1.375rem;
    color: #f6f6f6;
  }
  .consult__info__item__img {
    width: 3.5rem;
  }
  .consult__info__item__text p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 1.375rem;
    color: #f6f6f6;
  }
  .consult__warning-content p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 150%;
    font-size: 1.375rem;
    color: #f6f6f6;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .consult__info-content {
    width: 100%;
  }
  .consult__info__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
  }
}
/*# sourceMappingURL=consult.css.map */